<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TheBookshelf</title>
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/Css.css" rel="stylesheet"/>
    <link href="/lib/font-awesome/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
</head>
<body>
   
    <nav class="navbar navbar-expand-lg bg-dark text-white ">
        <div class="container-fluid">
            <a class="navbar-brand">TheBookshelf</a>

            <div class="d-flex flex-row-reverse bd-highlight" >
                
                <partial name="_Identity.cshtml" />

                <form class="d-block" asp-controller="Home" asp-action="Index">
                    
                    <input name="search" type="text" class="col-form-label-sm" placeholder="Search for a book..." aria-label="Recipient's username" />
                    <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
                </form>
                
                <div class="mx-2 bd-highlight">
                    <vc:cart-summary />
                </div>
            </div>
        </div>
    </nav>

    <div class="row m-1 p-1">
        <div id="categories" class="col-3">
            <vc:navigation-menu />
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
