@model IEnumerable<Author>

@{
    ViewBag.Title = "All Authors";
    Layout = "_AdminLayout";
}

<table class="table table-striped table-bordered table-sm" >
    <tr>
        <th class="text-right">ID</th>
        <th>Name</th>
        <th class="text-center">Actions</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="text-right">@item.AuthorID</td>
            <td>@item.Name</td>
            <td class="text-center">
                <form asp-action="Delete" method="post">
                    <a asp-action="Edit" class="btn btn-sm btn-warning" asp-route-authorId="@item.AuthorID">
                        Edit
                    </a>
                    <input type="hidden" name="AuthorID" value="@item.AuthorID" />
                    <button type="submit" class="btn btn-sm btn-danger">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
<div class="text-center">
    <a asp-action="Create" class="btn btn-primary">Add Author</a>
</div>